# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/
.env/

# Ignore database files
*.sqlite3

# Ignore Django migration files
**/migrations/*.py
**/migrations/*.pyc

# Ignore all other system-specific files
.DS_Store
Thumbs.db

# Ignore specific modified files
SAIL_alumni/SAIL_alumni/settings.py
SAIL_alumni/db.sqlite3
